---
---
<html lang="en">
  <head>
    <title>The Chronoscope V2</title>
  </head>
  <body class="bg-black text-white p-10 font-mono">
    <h1>The Chronoscope V2</h1>
    <p>Status: Online</p>
    <p>To access the CMS, go to <a href="/keystatic" class="text-cyan-400">/keystatic</a></p>
  </body>
</html>
